body {
	width: 1200px; margin: 0px auto; padding: 0; font-family: sans-serif;
}  
header {
	position: relative; margin: 0; background-color: white; height: 200px;
}

header img {
	 width: 1200px; height: 200px;
} 	

h1 {
	font-size: 140px; color: navy;  position: absolute; top: -100px; left: 400px;
}
h2 {
	color: #CF7926;
}
h3 {
	margin-left: 20px; color: #CF7926;
}
h4{
	margin-left: 100px; font-size: 20px; color: navy;
}
h5 {
	font-size: 22px; color: navy; font-weight: bold; position: absolute; top: 100px; left: 600px;
}

nav { 
	position: relative; border-bottom: 3px solid navy; border-radius: 1px; width: 1000px; left: 80px; 
}
nav a {
	text-decoration: none;
} 
nav ul {
	position: relative; text-align: center; width: 1000px; height: 25px; margin: 0px; padding: 0px; font-size: 18px; padding: 6px 0px;
}
nav ul:after {
	clear:both; display: block;
}
nav ul li {
	 display: inline-block;  width: 150px; height: 20px; margin: 0px -3px; border-left: 1px solid navy; border-right: 1px solid navy;
}
nav ul li a {
	display: block;
}
nav ul li:hover {
	background-color: orange; font-weight: bold;
}
nav ul ul {
	position: absolute; margin: 0px; z-index: 1; display: none;
}
nav ul li:hover ul {
	display: block; font-weight: normal;
}
nav ul ul li {
	 position: relative; display: block; border-left: none; border-right: none; border-top: 1px solid navy; border-bottom: 1px solid navy; background-color: white; width: 150px; height: 20px; margin: -1px 1px; padding: 3px 0px;
}


main {
	position: relative; width: 1140px; height: 500px; margin: 10px 0px; padding: 10px 30px; background-color: rgba(207, 121, 38, 0.45); 
}

section {
	width: 800px; height: 500px; overflow: auto; border-right: 3px solid navy; position: absolute; top: 20px; left: 0px; padding: 0px 40px; margin: 0px;
}
section p {
	margin-left: 40px; color: #CF7926;
}
aside {
	 width: 150px; height: 340px; border-bottom: 3px solid navy; position: absolute; bottom: 50px; left: 900px; padding: 0px 40px 50px;
}
aside img {
	width: 150px; height: auto; margin: 30px 0px;
}
footer {
	border-left: 3px solid navy; border-right: 3px solid navy; position: relative; width: 1200px; height: 180px; margin: 0px 0px 2px;
}

footer img {
	position: absolute; height: 160px; width: auto; left: 10px; top: 0px;
}
footer table {
	position: absolute; width: 970px; height: 140px; top: 10px; left: 180px; border-bottom: 3px solid navy; margin-right: 20px;
}
footer tr {
	text-align: center;  font-size: 12px;
}
footer tr a {
	text-decoration: none; color: navy;
}
footer p {
	position: absolute; width: 1000px; bottom: 7px; left: 125px; font-weight: bold; color: navy;
}

form {
	border: 3px solid navy; border-radius: 10px; width: 600px; margin: 0 auto;
}
form fieldset {
	border: none; 
}
form input {
	min-width: 200px; border: 1px solid navy; margin: 0px 0px 0px 50px; padding: 2px 0px 0px 5px; border-radius: 4px;
}
form textarea {
	min-width: 400px; min-height: 200px; border: 1px solid navy; margin: 0px 0px 0px 50px; padding: 2px 0px 0px 5px; border-radius: 4px;
}
form button {
	width: 100px; height: 30px; margin: 0px 0px 0px 100px; border: 1px solid navy; background-color: #CF7926; color: navy; font-weight: bold; border-radius: 4px;
}

.aboutme {
	overflow: hidden;
}
.aboutme img {
	width: 100px; float: left; padding: 0px 25px 20px 60px;
}
.aboutme p {
	width: 550px; float: left; 
}
article {
	width: 348px; padding: 0px 0px 50px 40px; margin: 0px;
}
.one{
	float: left; border-right: 5px solid #CF7926;
}
.two{
	float: right;
}
article img {
	border-top: 10px solid #CF7926; border-left: 10px solid #CF7926; border-right: 10px solid #CF7926; border-bottom: 60px solid #CF7926; border-radius: 5px; 
}
.two article {
	position: relative;
}
.pic {
	position: absolute;
}
.pic img {
	width: 150px; height: 150px;  display: inline-block;  opacity: 0.4;  border: none;
}
.pic img:hover {
		opacity: 1.0; 
}
.ps {
	  position: absolute; 
}
.ps div {
	width: 150px; height: 150px; display: inline-block; padding: 1px 0px;
}
.ps p {
	  font-weight: bold; color: white; padding: 0px; text-align: left; 
}
.ps div:hover {
		 opacity: 1;
}