body {
	position: relative; width: 1200px; height: 100%; margin: 0px auto; padding: 0; font-family: sans-serif; background-color: rgba(207, 121, 38, 0.45); 
}  
header {
	position: relative; margin: 0; background-color: white; height: 200px;
}

header img {
	 width: 1200px; height: 200px;
} 	

h1 {
	font-size: 140px; color: navy;  position: absolute; top: -100px; left: 400px;
}
h2 {
	color: #CF7926;
}
h3 {
	margin-left: 20px; color: #CF7926;
}
h4{
	margin-left: 100px; font-size: 20px; color: navy;
}
h5 {
	font-size: 22px; color: navy; font-weight: bold; position: absolute; top: 100px; left: 600px;
}

nav { 
	position: relative; border-bottom: 3px solid navy; border-radius: 1px; width: 1000px; left: 80px; 
}
nav a {
	text-decoration: none;
} 
nav ul {
	position: relative; text-align: center; width: 1000px; height: 25px; margin: 0px; padding: 0px; font-size: 18px; padding: 6px 0px;
}
nav ul:after {
	clear:both; display: block;
}
nav ul li {
	 display: inline-block;  width: 150px; height: 20px; margin: 0px -3px; border-left: 1px solid navy; border-right: 1px solid navy;
}
nav ul li a {
	display: block;
}
nav ul li:hover {
	background-color: orange; font-weight: bold;
}
nav ul ul {
	position: absolute; margin: 0px; z-index: 1; display: none;
}
nav ul li:hover ul {
	display: block; font-weight: normal;
}
nav ul ul li {
	 position: relative; display: block; border-left: none; border-right: none; border-top: 1px solid navy; border-bottom: 1px solid navy; background-color: white; width: 150px; height: 20px; margin: -1px 1px; padding: 3px 0px;
}

section {
	width: 840px; border-right: 3px solid navy; position: relative; top: -20px; left: 0px; padding: 10px 40px 10px 0px; margin: 20px 0px 0px; background-color: rgba(207, 121, 38, 0.45);
}
section h2 {
	margin-left: 60px; font-size: 40px;
}
section p {
	margin-left: 40px; color: #CF7926;
}
aside {
	 width: 300px; border-bottom: 3px solid navy; padding: 0px; 
	 position: relative; left: 900px; top: -415px;
	background-color: rgba(207, 121, 38, 0.45);
}
aside div {
	width: 250px; position: relative; top: 0px; border: margin: 30px 0px; padding: 50px 40px 20px;
}
aside img {
	width: 200px; display: inline; 
}
footer {
	border-left: 3px solid navy; border-right: 3px solid navy; position: absolute; bottom: 120px; width: 1198px; height: 180px; margin: 0px 0px 2px -1px; background-color: white;
}

footer img {
	position: absolute; height: 160px; width: auto; left: 10px; top: 10px;
}
footer table {
	position: absolute; width: 970px; height: 140px; top: 10px; left: 180px; border-bottom: 3px solid navy; margin-right: 20px;
}
footer tr {
	text-align: center;  font-size: 12px;
}
footer tr a {
	text-decoration: none; color: navy;
}
footer p {
	position: absolute; width: 1000px; bottom: 7px; left: 125px; font-weight: bold; color: navy;
}

form {
	border: 3px solid navy; border-radius: 10px; width: 600px; margin: 0 auto;
}
form fieldset {
	border: none; 
}
form input {
	min-width: 200px; border: 1px solid navy; margin: 0px 0px 0px 50px; padding: 2px 0px 0px 5px; border-radius: 4px;
}
form textarea {
	min-width: 400px; min-height: 200px; border: 1px solid navy; margin: 0px 0px 0px 50px; padding: 2px 0px 0px 5px; border-radius: 4px;
}
form button {
	width: 100px; height: 30px; margin: 0px 0px 0px 100px; border: 1px solid navy; background-color: #CF7926; color: navy; font-weight: bold; border-radius: 4px;
}

