/*
cc0000= red
A9A9A9 = darker grey
D3D3D3 = lighter grey

body
	header
	nav
	section
		?article?
	aside
	footer

 */
body {
	position: relative;
	width: 100%;
	max-width: 1200px;
	min-width: 300px;
	height: 100%;
	margin: 0px auto;
	padding: 0;
	font-family: sans-serif;
	background-color: white; 
}


header {
	position: relative;
	margin: 0;
	background-color: rgba(169, 169, 169, 0.7);
	height: 160px;
	width: 100%; 
}

header img {
	width: 1200px;
	max-width: 100%;
	height: auto;
	height: 160px;
	display: block;
	margin: 0 auto;
} 	

h1 {
	font-size: 140px;
	color: rgba(169, 169, 169, 0.7);
	position: absolute;
	top: -100px;
	left: 10%;
	z-index: 3;
}

#j2 {
	font-size: 135px;
	color: rgba(204, 0, 0, 0.7);
	z-index: 2;
}

h2 {
	font-size: 40px;
	color: #cc0000;
	text-align: center;
	padding: 5px;
	margin: 0px;
}

h3 {
	margin-left: 20px;
	color: #cc0000;
}

h4{
	margin-left: 100px;
	font-size: 20px;
	color: #cc0000;
}

h5 {
	font-size: 22px;
	color: #cc0000;
	font-weight: bold;
	position: absolute;
	top: 100px;
	left: 20%;
}
@media only screen and (min-width: 600px) {
	h1 {
		left: 30%;
	}
	
	h5 {
		left: 50%;
	}
}
nav { 
	position: relative;
	border-bottom: 3px solid #cc0000;
	border-radius: 1px;
	width: 100%;
	margin: 0 auto; 
}
nav a {
	text-decoration: none;
} 
nav ul {
	position: relative;
	text-align: center;
	width: 100%;
	height: 40px;
	margin: 0px;
	font-size: 12px;
	padding: 4px 0px 0px;
}

nav ul li {
	display: inline-block;
	width: 20%;
	height: 40px;
	margin: 0px -2.5px;
	/*border-left: 2px solid #cc0000;*/
	/*border-right: 2px solid #cc0000;*/
	position: relative;
}

nav ul li:last-of-type {
	border-right: none;
}

nav ul li a {
	display: block;
	color: #cc0000;
	padding: 13px 0px;
}
nav ul li:hover {
	background-color: #A9A9A9;
}
nav ul ul {
	position: absolute;
	margin: 0px;
	z-index: 1;
	/*display: block;*/
	display: none;
	padding: 0px;
	font-weight: normal
	width: 100%;
}
nav ul li:hover ul {
	display: block;
	font-weight: normal; 
}
nav ul ul li {
	 position: relative;
	 display: block;
	 border-left: none;
	 border-right: none;
	 border-top: 1px solid #cc0000;
	 border-bottom: 1px solid #cc0000;
	 background-color: white;
	 width: 100%;
	 font-weight: normal;
	 height: 40px;
	 margin: -1px 1px;
	 padding: 3px 0px;
	 border-radius: 7px;
}

nav ul ul li a {
	padding: 13px 0px;
}

@media only screen and (min-width: 600px) {
	nav {
		width: 90%;
	}
	nav ul {
		height: 20px;
		font-weight: bold;
		font-size: 14px;
	}
	nav ul li {
		width: 18%;
		height: 20px;
	}
	nav ul li a {
		padding: 3px 0px;
	}

	nav ul ul {
		min-width: 110%;
		left: -5%;
		padding-left: 2px;
		padding-right: 2px;
	}

	nav ul ul li {
		height: 30px;
	}
}

section {
	width: 99%;
	padding: 10px 1% 10px 0px;
	margin: 0px;
	background-color: #D3D3D3;
	float: left;
	position: relative;
}

section h2 {
	margin-left: 60px;
	font-size: 40px;
}

section p {
	margin-left: 40px;
	color: #cc0000;
}

aside {
	width: 100%;
	min-width: 100px;
	border-top: 3px solid #cc0000;
	padding: 0px;
	left: 900px;
	top: -415px;
	background-color: #D3D3D3;
	float: left;
	margin: 0px;
}
aside div {
	width: 49%;
	display: inline-block;
	position: relative;
	top: 0px;
	margin: 0px 0px;
	padding: 15px 0px;
}

aside a {
	width: 50px;
	margin: 0 auto;
	display: block;
}
aside a img {
	width: 100%;
	display: block; 
}
@media only screen and (min-width: 600px) {
	section {
		width: 76%;
		padding-right: 1%
		border-left: 1px solid white;
		border-right: 3px solid #cc0000;
	}
	aside {
		border: none;
		border-bottom: 3px solid #cc0000;
		margin-left: 2%;
		width: 20%;
	}
	aside div {
		width: 100%;
		padding: 30px 0px;
	}
}
footer {
	border-top: 2px solid white;
	width: 100%;
	height: 180px;
	margin: 0px 0px 2px -1px;
	background-color: #A9A9A9;
	clear: both; 
	position: relative;
	border-radius: 3px;
	overflow-x: hidden;
}

footer img {
	position: relative;
	height: 160px;
	width: auto;
	left: 10px;
	top: 10px;
	display: inline-block;
}
footer table {
	position: relative;
	width: 60%;
	max-width: 70%;
	height: 140px;
	top: 0px;
	left: 0;
	margin-right: 0px;
	display: inline-block;
}

footer tbody {
	width: 100%;
	display: table;
}

footer tr {
	text-align: center;
	width: 100%;
	/*font-size: 8px;*/
	font-size: 10px;
	font-weight: bold;
}
footer tr a {
	text-decoration: none;
	color: #cc0000;
}

footer tr td {
	width: 25%;
	padding: 15px 7%;
}

footer p {
	position: absolute;
	bottom: 2px;
	right: 5px;
	font-weight: bold;
	color: #cc0000;
	display: block;
	background-color: #A9A9A9;
	width: 85px;
	text-align: center;
}

hr {
	position: absolute;
	background-color: red;
	color: red;
	height: 3px;
	width: 100%;
	left: 120px;
	margin-top: -15px;
}
