.index-info {
	clear: both;
	width: 100%;
	display: inline-block;
	max-width: 600px;
	margin: 0 auto;
	position: relative;
}

.index-icon {
	position: relative;
	float: left;
	width: 33.3333%;
	max-width: 200px;
	min-width: 100px;
	text-align: center;
	display: inline-block;
}

.index-icon-pic {
	width: 60px;
	height: 60px;
	position: relative;
	margin: 0 auto;
	background-color: white;
	border-radius: 50%;
}

.index-icon-pic img {
	position: relative;
	width: 30px;
	margin: 15px;
}

.index-icon-pic:hover img {
	width: 40px;
	margin: 10px;
}

.index-icon h6 {
	margin: 0;
	font-size: 17px;
	color: #cc0000;
}

.index-icon p {
	margin: 0;
	color: #4d4d4d;
	font-size: 14px;
}