nav { 
	max-width: 984px;
}

@media only screen and (min-width: 600px) {
	nav {
		width: 82%;
	}
}

@media only screen and (min-width: 600px) {
	section {
		border: none;
		width: 82%;
		padding: 10px 0px;
		float: left;
	}

	aside {
		border: none;
		position: fixed;
		top: 188px;
		right: 0;
		width: 16%;
		max-width: 192px;
		background-color: #F0F0F0;
	}

	aside div {
		width: 100%;
		padding: 30px 0px;
		border: none;
		background-color: #D3D3D3;
	}
}

@media only screen and (min-width: 1200px) {
	aside {
		right: auto;
		margin-left: 1008px;
	}
}

