.index-top {
	position: relative;
	width: 100%;
}

.index-face {
	float: left;
	position: relative;
	width: 100px;
	margin: 0 auto;
}

.index-face img {
	width: 90%;
	height: auto;
	margin: 0px 5% 10px;
	border-radius: 60% 5% 50% 40%;
}

.index-blurb {
	position: relative;
	margin-top: 30px;
	margin-left: 80px;
	font-size: 20px;
}

@media only screen and (min-width: 600px) {
	.index-face {
		margin-top: 70px;
		width: 140px;
	}

	.index-blurb {
		margin-left: 120px;
	}
}

.index-icon h6 {
	margin: 0;
	font-size: 17px;
	color: #cc0000;
}

.index-icon p {
	margin: 0;
	color: #4d4d4d;
	font-size: 14px;
}

.index-links {
	margin-bottom: 10px;
}

.index-links div {
	display: block;
	width: 80%;
	margin: 0 10%;
	text-align: center;
	border-bottom: 1px solid #4d4d4d;
	padding: 5px;
}

@media only screen and (min-width: 600px) {
	.index-links div {
		width: 60%;
		margin: 0 20%;
	}
}

.index-links div a {
	font-size: 20px;
	text-decoration: none;
	color: #cc0000;
}