section h6 {
	text-align: center;
	margin: 0px;
	color: rgba(0, 0, 0, 0.6);
}

p.bottom {
	font-size: 10px;
	margin: 0;
	text-align: center;
}

section p span a {
	text-decoration: none;
	color: red;
}

section p span a:hover {
	text-decoration: underline;
}

.onepage-project {
	position: relative;
	display: block;
	text-align: center;
	margin: 0 auto 30px;
	width: 100%;
	min-width: 180px;
	max-width: 550px;
}

.project-pic {
	margin: 0 auto;
	width: 100px;
	height: 100px;
}

.project-pic img {
	background-color: #F0F0F0;
	width: 100%;
	border-radius: 20px;
}

.onepage-project h6 {
	margin: 0;
	margin-top: 3px;
	font-size: 17px;
	color: #cc0000;
}

.onepage-project p {
	color: #4d4d4d;
	margin: 0 10px;
	font-size: 12px;
	text-align: left;
}

.onepage-project p.bottom {
	text-align: center;
	margin-top: 5px;
}

@media only screen and (min-width: 600px) {
	.onepage-project {
		float: left;
		display: inline-block;
		width: 33.3333%;
		max-width: 400px;
	}
}