h2 {
	font-size: 60px; color: #FF0000; text-align: center; padding: 5px; margin: 0px;
}

section img {
	padding: 0px 40px;
}

article {
	width: 350px; height: 200px; display: inline-block; border: 3px solid navy; border-radius: 10px; margin: 0px 30px 10px; 
}

section h6 {
	text-align: center;
	margin: 0px;
	color: rgba(0, 0, 0, 0.6);
}

p.bottom {
	font-size: 10px;
	margin: 0;
	text-align: center;
}

section p span a {
	text-decoration: none;
	color: red;
}

section p span a:hover {
	text-decoration: underline;
}